<header>
  <title>Market Simulator</title>
</header>

<body>
  <h1 class="title">Market Mimulator</h1>
  <main>
    <!-- Temp button for testing --><ion-button (click)="tempSignUp('student')">TempSignUp</ion-button>
    <!-- Temp button for testing --><ion-button (click)="tempSignUp('teacher')">TempSignUp (Teachers/create class)</ion-button>

    <button id="LogInButton">Log In</button>
    <button class="tertiaryButton" id="SignUpButton">Sign Up</button>
  </main>
  <p class="hoverUnderlineText" id="CreateClassroomButton">Create Classroom</p>

  <main style="display: none;">
    <app-login></app-login>
    <app-signup></app-signup>
    <app-createclass></app-createclass>
  </main>
</body>
