
main {
  position: absolute;
  top: calc(50% - var(--unit1) * 1.5);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: calc(var(--unit2) + 2 * var(--margin1));
  height: 0;
  background-color: var(--s4);
}

button {
  width: var(--unit2);
  height: var(--unit1);
  background-color: var(--s5);
  font-size: var(--font4);
  padding: var(--padding1);
  margin: var(--margin1);
  margin-top: 0px;
  border-radius: var(--radius);
}

button:hover {
  background-color: var(--s6);
}

p {
  font-size: var(--font5);
  text-align: center;
  padding: var(--padding1);
}
