
<body>
  <!-- THINGS TO DO:
  1: Less gradients. COMPLETE
  2: Larger margins; padding1: 10px -> padding: 20px;
  -->
  <div class="container main">
    <p class="title">Market Trends</p>
    <div style="width: 100%; height: calc(100% - 3em); margin: auto; background-color: var(--white); border-radius: var(--padding1);"></div>
  </div>
  <div class="container right">
    <p class="title">Asset Allocation</p>
    <div class="underline"></div>
    <p>Here we'll have that little pie/donut chart that shows where your assets are, with links and hoverable stats/information. Underneath here will also be the main pieces of information like Net Worth and Market Asset Value; however, on smaller screens and if the Transaction History ends up here, those pieces of information will relocate to under the main graph.</p>
  </div>
  <!-- <div class="container bottom">
    <p class="title">Transaction History</p>
    <div class="underline"></div>
    <p>Transaction panel includes:</p>
    <ul>
      <li>### Company-name stocks bought/sold</li>
      <li>$#### spent/earned</li>
      <li>Time of purchase, and price at that time.</li>
    </ul>
  </div> -->
  <div class="transactionHolder">
    <div class="container transaction">
      <p class="main"><strong>$4320</strong> spent on General Motors.</p>
      <p class="secondary"><strong>240</strong> stocks purchased.</p>
      <p class="tertiary">Day 2</p>
      <p class="tertiary right">$18/stock</p>
    </div>
    <div class="container transaction">
      <p class="main"><strong>$4320</strong> spent on General Motors.</p>
      <p class="secondary"><strong>240</strong> stocks purchased.</p>
      <p class="tertiary">Day 2</p>
      <p class="tertiary right">$18/stock</p>
    </div>
    <div class="container transaction">
      <p class="main"><strong>$4320</strong> spent on General Motors.</p>
      <p class="secondary"><strong>240</strong> stocks purchased.</p>
      <p class="tertiary">Day 2</p>
      <p class="tertiary right">$18/stock</p>
    </div>
  </div>
</body>
