
:root {
  --s1: #000; /*s for shade*/
  --s2: #333;
  --s3: #666;
  --s4: #aaa;
  --s5: #ccc;
  --s6: #fff;
}

* {
  margin: 0;
  font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
}
