
@import "~@ionic/angular/css/core.css";

:root {
  --c1m: rgb(22, 197, 217); /*Colour 1 Main*/
  --c2m: rgb(132, 22, 217); /*Colour 2 Main*/

  --white: #fbfdfd;
  --off-white: #f5f7f7;
  --black: #010712;
  --off-black: #19191a;
  --blackh: #4d4f4f;
  --shadow: #7d8080;
  --s1: #eff1f1; /*s for shade*/
  --s2: #cacfcf;
  --s3: #717272;
  --s4: #323636;

  --font1: 3em;
  --font2: 2.5em;
  --font3: 2em;
  --font4: 1.5em;
  --font5: 1em;
  --font6: 0.75em;

  --unit1: 50px;
  --unit2: 200px;

  --padding1: 10px;
  --padding2: 25px;
  --margin1: 15px;
  --margin2: 40px;

  --radius: 10px;
  --border: 5px;
  --line: 2px;

  --tran: 0.3s;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
	user-select: none;
	-moz-user-select: none;
  transition-duration: var(--tran);
  -o-transition-duration: var(--tran);
  -moz-transition-duration: var(--tran);
  -webkit-transition-duration: var(--tran);
}

button {
  border: none;
  color: var(--s1);
}

.hoverUnderlineText:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: var(--font2);
  color: var(--off-black);
}
