
@import "~@ionic/angular/css/core.css";

:root {
  --mainm: #2caee6;
  --maind: #187cc4; /*d for dark*/
  --mainl: #69dafa; /*l for light*/
  --mainh: #d4f6ff; /*h for hover*/
  --accentm: #e6e629;
  --accentl: #f7f774;
  --accentd: #cfcf0e;
  --white: #fbfdfd;
  --off-white: #f5f7f7;
  --black: #010712;
  --off-black: #19191a;
  --blackh: #4d4f4f;
  --shadow: #7d8080;
  --s1: #eff1f1; /*s for shade*/
  --s2: #cacfcf;
  --s3: #717272;
  --s4: #323636;

  --font1: 3em;
  --font2: 2.5em;
  --font3: 2em;
  --font4: 1.5em;
  --font5: 1em;
  --font6: 0.75em;

  --unit1: 50px;
  --unit2: 200px;

  --padding1: 10px;
  --padding2: 25px;
  --margin1: 15px;
  --margin2: 40px;

  --radius: 10px;
  --border: 5px;
  --line: 2px;

  --tran: 0.3s;
}

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
	user-select: none;
	-moz-user-select: none;
  transition-duration: var(--tran);
  -o-transition-duration: var(--tran);
  -moz-transition-duration: var(--tran);
  -webkit-transition-duration: var(--tran);
}

button {
  border: none;
  color: var(--s1);
}

/* A failed attempt to create an underline animation for the clickable text */ /*
.hoverUnderlineText {
  display: inline-block;
  position: relative;
  color: black;
}
.hoverUnderlineText:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: var(--line);
  bottom: 0;
  left: 0;
  background-color: var(--3);
  transform-origin: bottom right;
  transition: transform var(--tran) ease-out;
}
.hoverUnderlineText:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*/
.hoverUnderlineText:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
  font-size: var(--font2);
  color: var(--off-black);
}
