<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text>This is text that appears on the home page.</ion-text>
  <ion-text>I did not initialize the home page. Josiah's plan for next round:</ion-text>
  <ion-list>
    <ion-item>Work on the Auth page rather than the home page.</ion-item>
    <ion-item>Get the background and text boxes formatted and animated.</ion-item>
    <ion-item>Be happy! That's a good day's work.</ion-item>
  </ion-list>
  <ion-button (click)="authService.logout()">Temp Logout</ion-button>
</ion-content>
