<body>
  <div id="sidebar">
    <div id="info">
      <p id="name" class="text">Matt_Smith</p>
      <p id="class" class="text">My Classroom</p>
      <ion-icon id="avatar" name="person-circle-outline"></ion-icon>
      <ion-icon id="settings" name="settings-outline"></ion-icon>
      <ion-icon id="logout" name="log-out-outline" (click)="authService.logout()"></ion-icon>
    </div>
    <div id="menu">
      <div id="nav">
        <ion-icon class="arrow l" name="grid-outline"></ion-icon><p class="text navText">Menu</p>
      </div>
      <div id="navButtons">
        <div class="button" tabindex="1" (click)="component = 'portfolio'">
          <ion-icon name="albums-outline"></ion-icon>
          <p>Portfolio</p>
        </div>
        <div class="button" tabindex="1" (click)="component = 'news'">
          <ion-icon name="newspaper-outline"></ion-icon>
          <p>News</p>
        </div>
        <div class="button" tabindex="1" (click)="component = 'market'">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <p>Market</p>
          <ion-icon id="marketArrow" slot="end" name="chevron-down-outline" (click)="displayCompanies()"></ion-icon>
        </div>
        <div id="marketContainer">
          <div class="marketButton button" tabindex="1" (click)="component = 'company1'">
            <p>Company #1</p>
          </div>
          <div class="marketButton button" tabindex="1" (click)="component = 'company2'">
            <p>Company #2</p>
          </div>
          <div class="marketButton button" tabindex="1" (click)="component = 'company3'">
            <p>Company #3</p>
          </div>
        </div>
      </div>

      <div id="stats">
        <div id="nav">
          <ion-icon class="arrow l" name="trending-up-outline"></ion-icon><p class="text navText">Stats</p>
        </div>
        <div id="statsInfo">
          <ion-item>
            <ion-label>Net Worth: </ion-label>
            <ion-note slot="end">$124,330</ion-note>
            <ion-icon id="up" slot="end" name="caret-up-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label>Budget: </ion-label>
            <ion-note slot="end">$80,034</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Class Rank: </ion-label>
            <ion-note id="rank" slot="end">1st</ion-note>
            <ion-icon id="medal" slot="end" name="medal-outline"></ion-icon>
          </ion-item>
        </div>
      </div>
        <a>Give us feedback!</a>
    </div>
  </div>
  <div id="component">
    <app-portfolio *ngIf="component == 'portfolio'"></app-portfolio>
    <app-news *ngIf="component == 'news'"></app-news>
    <app-market *ngIf="component == 'market'"></app-market>
    <app-company *ngIf="component == 'company1'" [currentCompany]=component></app-company>
    <app-company *ngIf="component == 'company2'" [currentCompany]=component></app-company>
    <app-company *ngIf="component == 'company3'" [currentCompany]=component></app-company>

  </div>
</body>

